
.flex-wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: relative;
}


#wrapper-modal {
    width: 100%;
    height: 100%;
    display: none;
}

#wrapper-modal.active {
    display: block;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: gray;
    opacity: 0.5;
}

#modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    height: 350px;
    z-index: 2;
    border: 1px solid #ffc222;
    background-color: #ffffff;
}
.modal__inputs{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    text-align: center;    
}

.modal__btn-close{
    padding: 12px 12px 12px 12px;
    margin: 30px 95px ;
    border: 1px solid #ffc222;
    background-color: #ffffff;
    
    
}
.input__modal{
    padding-right: 10px;
    padding-left: 0px;
}
.modal__text{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    padding: 15px 15px;
    text-align: center;    

}